apiVersion: v1
kind: Namespace
metadata:
  name: clusters-${CLUSTER}
---
apiVersion: v1
data:
 .dockerconfigjson: ${PULL_SECRET}
kind: Secret
metadata:
  name: ${CLUSTER}-pull-secret
  namespace: clusters-${CLUSTER}
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: ${CLUSTER}-ssh-key
  namespace: clusters-${CLUSTER}
stringData:
  id_rsa.pub: ${SSH_PUB_KEY}
---
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: capi-provider-role
  namespace: clusters-${CLUSTER}
rules:
- apiGroups:
  - agent-install.openshift.io
  resources:
  - agents
  verbs:
  - '*'
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: ${CLUSTER}
  namespace: clusters-${CLUSTER}
spec:
  pullSecretRef:
    name: ${CLUSTER}-pull-secret
  sshAuthorizedKey: ${SSH_PUB_KEY}
  agentLabels:
    cluster-name: clusters-${CLUSTER}
  nmStateConfigLabelSelector:
    matchLabels:
      cluster-name: clusters-${CLUSTER}
