apiVersion: v1
kind: Namespace
metadata:
  name: clusters-myhypershift
---
apiVersion: v1
data:
 .dockerconfigjson: ${PULL_SECRET}
kind: Secret
metadata:
  name: myhypershift-pull-secret
  namespace: clusters-myhypershift
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: myhypershift-ssh-key
  namespace: clusters-myhypershift
stringData:
  id_rsa.pub: ${PUB_KEY}
---
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: capi-provider-role
  namespace: clusters-myhypershift
rules:
- apiGroups:
  - agent-install.openshift.io
  resources:
  - agents
  verbs:
  - '*'
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: myhypershift
  namespace: clusters-myhypershift
spec:
  pullSecretRef:
    name: myhypershift-pull-secret
  sshAuthorizedKey: ${PUB_KEY}
  agentLabels:
    cluster-name: clusters-myhypershift
  nmStateConfigLabelSelector:
    matchLabels:
      cluster-name: clusters-myhypershift
