global
    log         127.0.0.1 local2
    maxconn     4000
    daemon

defaults
    mode                    tcp
    log                     global
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats-50000
    bind :50000
    mode            http
    log             global
    maxconn 10
    timeout client  100s
    timeout server  100s
    timeout connect 100s
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats

frontend apis-6443
    bind :6443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    acl ACL_basecluster req_ssl_sni -i api.basecluster.karmalabs.corp
    use_backend be_api_basecluster_6443 if ACL_basecluster

frontend routers-http-80
    bind :80
    mode http
    acl ACL_basecluster hdr(host) -m reg -i ^[^\.]+\.apps\.basecluster\.karmalabs\.corp
    acl ACL_hypershift hdr(host) -m reg -i ^[^\.]+\.apps\.myhypershift\.karmalabs\.corp
    use_backend be_ingress_basecluster_80 if ACL_basecluster
    use_backend be_ingress_hypershift_80 if ACL_hypershift

frontend routers-https-443
    bind :443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    acl ACL_basecluster req_ssl_sni -m reg -i ^[^\.]+\.apps\.basecluster\.karmalabs\.corp
    acl ACL_hypershift req_ssl_sni -m reg -i ^[^\.]+\.apps\.myhypershift\.karmalabs\.corp
    use_backend be_ingress_basecluster_443 if ACL_basecluster
    use_backend be_ingress_hypershift_443 if ACL_hypershift

backend be_api_basecluster_6443
    mode tcp
    balance source
    option ssl-hello-chk
    server basecluster 192.168.122.253:6443 check inter 1s
    
backend be_ingress_basecluster_80
    mode http
    balance hdr(Host)
    hash-type consistent
    option forwardfor
    http-send-name-header Host
    server basecluster 192.168.122.253:80 check inter 1s

backend be_ingress_basecluster_443
    mode tcp
    balance source
    option ssl-hello-chk
    server basecluster 192.168.122.253:443 check inter 1s

backend be_ingress_hypershift_80
    mode http
    balance hdr(Host)
    hash-type consistent
    option forwardfor
    http-send-name-header Host
    server myhypershift 192.168.122.252:80 check inter 1s

backend be_ingress_hypershift_443
    mode tcp
    balance source
    option ssl-hello-chk
    server myhypershift 192.168.122.252:443 check inter 1s
