apiVersion: v1
data:
 .dockerconfigjson: ${PULL_SECRET}
kind: Secret
metadata:
  name: ${CLUSTER}-pull-secret
  namespace: clusters
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: ${CLUSTER}-ssh-key
  namespace: clusters
stringData:
  id_rsa.pub: ${SSH_PUB_KEY}
---
apiVersion: hypershift.openshift.io/v1beta1
kind: HostedCluster
metadata:
  name: ${CLUSTER}
  namespace: clusters
spec:
  release:
    image: ${RELEASE_IMAGE}
  dns:
    baseDomain: ${DOMAIN}
  etcd:
    managed:
      storage:
        persistentVolume:
          size: 4Gi
        restoreSnapshotURL: null
        type: PersistentVolume
    managementType: Managed
  pullSecret:
    name: ${CLUSTER}-pull-secret
  sshKey:
    name: ${CLUSTER}-ssh-key
  fips: False
  networking:
    clusterNetwork:
    - cidr: 10.129.0.0/14
      hostPrefix: 23
    serviceNetwork:
    - cidr: 172.31.0.0/16
    machineNetwork:
    - cidr: ${MACHINE_CIDR}
    networkType: OVNKubernetes
  platform:
    agent:
      agentNamespace: clusters-${CLUSTER}
    type: Agent
  infraID: ${CLUSTER}
  dns:
    baseDomain: ${DOMAIN}
  services:
  - service: APIServer
    servicePublishingStrategy:
      nodePort:
        address: ${API_IP}
      type: NodePort
  - service: OAuthServer
    servicePublishingStrategy:
      type: Route
  - service: OIDC
    servicePublishingStrategy:
      type: Route
  - service: Konnectivity
    servicePublishingStrategy:
      type: Route
  - service: Ignition
    servicePublishingStrategy:
      type: Route
  - service: OVNSbDb
    servicePublishingStrategy:
      type: Route
---
